{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WD gann</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <body id="main">
        <h1 id="title">WD gann</h1>
        <div>
            <img src="{% static 'images/wd gann.jpg' %}" id="image" alt="WD Gann">
            <small id="caption"><b> William Delbert Gann or WD Gann:</b> was a finance trader who developed the technical analysis methods like the Gann angles and the Master Charts, where the latter is a collective name for his various tools like the Spiral Chart, the Hexagon Chart, and the Circle of 360</small>
        </div>
        <div id="info">
            <h1 class="title"> The Biography of W.D. Gann </h1>
            <p>1878: A star is born.</p>

          <p> Considered by some to be the greatest trader of all time, William Delbert Gann was born on a farm outside of Lufkin, Texas on June 6, 1878. The firstborn of 11 children, Gann never graduated from grammar school or attended high school, having the obligation of working his family’s farm.</p> 

          <p>He was raised as a Baptist and kept his faith throughout his life. Gann began his trading career working in a brokerage in Texarkana while attending business school at night. He married Rena May Smith, and had two daughters. He moved to New York City in 1903 at the age of 25 and opened his own brokerage firm, W.D. Gann & Co.</p> 

          <p>In 1919 at the age of 41 he began publishing a daily market letter, the Supply and Demand Letter. The letter covered both stocks and commodities and made annual forecasts. In 1924 Gann’s published his first book, Truth of the Stock Tape. His market forecasts during the twenties have been said to be 85 percent accurate.</p> 

          <p>Gann also made forecasts outside the world of investing: he is said to have predicted the elections of Wilson and Harding among others. In his 1927 book, The Tunnel Through the Air, he predicted the attack on the United States by Japan.</p> 

          <p>In his forecast for 1929, he predicted the market would hit new highs until early April, then experience a sharp break, then resume with new highs until September 3. Then it would top and afterward would come the biggest market crash in its history. Gann prospered during the Depression, which he predicted would end in 1932. He acquired seats on various commodities exchanges, traded for his own account, wrote Wall Street Stock Selector in 1930 and New Stock Trend Detector in 1936.</p> 

          <p>He bought a plane in 1932 so he could fly over crop areas making observations to use in his forecasts. He later moved to Miami, Florida where he continued his writings and studies up until his death from stomach cancer in 1955 at the age of 77. W.D. Gann is said to have taken more than 50 million dollars in profits out of the markets. He was buried with his second wife in Green-Wood Cemetery in Brooklyn at a location that looks toward Wall Street</p> 
           <p> 1955: Dies at the age of 77</p></div>
        <small> For more information, check out <a href="https://en.wikipedia.org/wiki/William_Delbert_Gann" target="_blank">WD Gann</a> on Wikipedia</small>
        </body> 
</body>
</html>